@import "tailwindcss";

@theme {
  --color-purple-50: #faf7ff;
  --color-purple-100: #f6efff;
  --color-purple-200: #eedeff;
  --color-purple-300: #e1c4ff;
  --color-purple-400: #d1a3ff;
  --color-purple-500: #bd7fff;
  --color-purple-600: #a852ff;
  --color-purple-700: #9225ff;

  --color-purple-brand: #9225ff;

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #ebebeb;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #cccccc;
  --color-gray-500: #b3b3b3;
  --color-gray-600: #8c8c8c;
  --color-gray-700: #666666;

  --shadow-tint-default: 0px 2px 4px 0px var(--color-purple-300);
  --shadow-tint-hover: 0px 4px 8px 0px var(--color-purple-300);

  --shadow-neutral-default: 0px 2px 4px 0px var(--color-gray-300);
  --shadow-neutral-hover: 0px 2px 8px 0px var(--color-gray-300);
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
}
